<%- include('partials/head')%>
<%- include('partials/navbar') %>
 <h1>All the Cats</h1>
 <ul>
  <% for (let cat of allCats){%>
     <li><%= cat %></li>
  <%}%>

  <% allCats.forEach(el=> { %>
    <li><%= el%></li>
  <% }) %>
 </ul>
 <%- include('partials/footer') %>
